body {
    /* background: linear-gradient(to right, #d9e3fc, #e3ddf6);  */
    background: #e6e6e6;
    min-height: 100vh; 
    margin: 0; 
    font-family: 'Roboto', sans-serif;
  }
  .navbar {
    background-color: transparent;
    box-shadow: none;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  .transparent-navbar {
    background-color: transparent !important;
    box-shadow: none; 
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar {
    background-color: #ffffff; 
  }
  .content {
    padding: 20px;
    background-color: rgba(199, 237, 188, 0.8); 
    border-radius: 8px; 
  }
  .back-col{
    background: #e6e6e6;
  }

.custom-padding {
    padding-left: 120px;
    padding-right: 120px;
  }
  .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logoimg{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.btn1{
    background-color: #4CAF50;
    color: #fff;
    border-radius: 10px;
    padding: 8px 40px;

}
.btn1:hover{
   border: 1px solid black;
   color: #343232;
   background-color: #a0e9a3;
   
}
.custom-line-height {
    line-height: 1.1; 
  }
.custom-heading {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700; 
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  footer {
    background-color: #ffffff;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer-sticky {
    background-color: #f8f9fa; 
    text-align: center;
    padding: 1rem;
    margin-top: auto; 
  }
  .parent-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/* h1{
    font-weight: 700;
} */